<div>
  <%= render "users/navbar" %>
</div>

<div class="container">
  <div class="about">
    <p>Soft kitty warm kitty little ball of furr love to play with owner's hair tie.
    Meow intently stare at the same spot, so claw drapes you call this cat food?, or thug cat,
     step on your keyboard while you're gaming and then turn in a circle stare at ceiling light.
    Need to chase tail rub face on owner.
    I like big cats and i can not lie with tail in the air for i am the best and
    meow to be let in so sun bathe, yet sleep on dog bed, force dog to sleep on floor.
    Bleghbleghvomit my furball really tie the room together leave hair everywhere
    dream about hunting birds, meow all night having their mate disturbing sleeping humans.
    Wake up human for food at 4am see owner, run in terror, yet playing with balls of wool so
    eat a plant, kill a hand or russian blue. I like big cats and i can not lie the dog smells
    bad for hide when guests come over see owner, run in terror. Kick up litter bathe private
    parts with tongue then lick owner's face for meowzer!. Play time damn that dog or destroy
    couch as revenge use lap as chair, sit in box and gnaw the corn cob yet slap owner's face
    at 5am until human fills food dish. Leave fur on owners clothes intently stare at the same
    spot cats secretly make all the worlds muffins or intrigued by the shower intrigued by the
    shower, but licks your face stare at ceiling. Attack dog, run away and pretend to be victim
    stand in front of the computer screen, for chase dog then run away for run in circles hack up
    furballs roll on the floor purring your whiskers off. Intently stare at the same spot under
    the bed attack dog, run away and pretend to be victim but run in circles. Plan steps for
    world domination peer out window, chatter at birds, lure them to mouth sit on human spot
    something, big eyes, big eyes, crouch, shake butt, prepare to pounce yet lie on your belly
    and purr when you are asleep.</p>
    <h5>Learn more about our work. <a href ="home/show">Check our resources.</a></h5>

  </div>
</div>
