<fieldset class="search-field">
  <legend>Search Our Database</legend>
  <%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.label :fullname_cont, "Name contains" %>
      <%= f.search_field :fullname_cont  %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</fieldset>
