
 <ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <h3 id="title">RIGHTS FORWARD</h3>
    </div></li>
      <li><div class="divider"></div></li>
    <li><a class="menu" href="/">ABOUT</a></li>
      <li><div class="divider"></div></li>
    <li><a class="menu" href="/users">FIND TRAINER</a></li>
      <li><div class="divider"></div></li>
    <li><a class="waves-effect menu" href="/">RESOURCES</a></li>
      <li><div class="divider"></div></li>
    <li><a class="menu" href="/users/<%=current_user.id%>">PROFILE</a></li>
      <li><div class="divider"></div></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

