// // styles related to navbar

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#title {
  color: #ffffff;
  margin-top: -8px;
  margin-left: -16px;
  margin-bottom: 60px;
}

.side-nav .divider{
  margin: 3px 16px 0px 16px;
}


.side-nav.fixed a {
  color: #c5c5c5;
}


.side-nav {
  background-color: #2a2a28;
  width: 240px;
}

.divider {
  background-color: #545450;
}

// li.selected > a {
//   color: #dcb450;
// }



